<!DOCTYPE html>

<html>

<head>
    <title> 
      Flower Classification</title>

    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css" rel="stylesheet" media="screen">

    <script src="{{ url_for('static', filename='upload.js') }}"></script>
    <link href="{{ url_for('static', filename='app.css') }}" rel="stylesheet">

</head>

<body>
    <div class="jumbotron text-center">
        <h2><b>Web App for Flower Classification</b></h2>
    </div>
    
    <div class="container text-center">
          
    <form action="/uploaded" method="POST" enctype="multipart/form-data">
        

        <h3> <u>Upload only Flower images</u></h3>
        <h5>Otherwise it will show wrong result</h5>
        
        <input type='file' name='file' onchange="readURL(this)" style="margin:0px auto; display:block;" /><br>
        
	{% block content %}
    
    {% endblock %}
	       
	<button type="submit">Submit & predict</button>

    </form>
 

</div>

</body>

</html> 
